<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <div th:if="${jobinfo} and ${jobinfo.size()}">
         <h3 th:text="${jobinfo.size() + ' Result(s)'}"></h3>

        <table>
            <tr th:each="item, idx : ${jobinfo}" th:class="${idx.odd} ? 'odd'">
                <td><a th:href="@{/list/jobs(column=${column},value=${item})}" th:text="${item}"></a></td>
            </tr>
        </table>
        <!--<div th:replace="fragments :: jobrowlist"></div> -->
    </div>

</div>

</body>
</html>